@keyframes rotation {
    0%{
      transform: rotate(0deg);
    }
  }
  @keyframes rotation {
    100%{
        transform: rotate(360deg);
    }
  }
.page {
    min-width: 1100px;
    /* ?? ??? ?? ????? ?????? ????????? ?????? ?????, */
    /* ??????? ???? ??????????? ??????????? ?????? ???????? */
    max-width: 1600px;
    /* ???? ?????????? ??????????? ?? ???????????? ?????? */
    margin: 0  auto;
    /* ???? ??? ??????? ?????? 1600px ?????????????? ???? ??????? */
    font-family: 'Helvetica Neue', Arial, sans-serif;
    
}

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    display: flex;
    position: relative;
    background-color: #F2F2F2;
    overflow: hidden;
    /* ???? ?????????? ??????????? ??? ?????? */
}

/* ???? ?? ??????? ?????? ???? ??????????, ????? ?? ????????? ?????? ???????? */
.header__square-pic {
    height: 568px;
    width: 568px;
    background-color: #2F80ED;
    margin-top: 64px;
    right: 0px;
    position: absolute;
    background-position: right;
    transform: rotate(-15deg);
    animation: rotation 20s infinite;
}

/* ? ???????? ? ????????????? */
.table__cell_kaufman {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
    
}
.logo {
    width: 183px;
    height: 32px;   
    background-size: contain;
    background-repeat: no-repeat;
}
.logo_header {
background-image: url("../images/logo.svg");  
top: 30px;
left: 64px; 
position: absolute;  
}
.header__title {
    margin-left: 64px;
    width: 730px;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
    align-self: center;
}
.header__subtitle {
    width: 388px;
    line-height: 25px;
    font-size:18px;
    font-weight: normal;
    left: 64px;
    bottom: 30px;
    position: absolute;
    align-items: center;
    
}
.link {
    color: #2F80ED;
    text-decoration: none;
}
.header__main-illustration {
    background-image: url("../images/two_again.png"); 
    background-size: cover;
    position: absolute;
    width: 756px;
    height: 608px;  
    z-index: 1;
    bottom: 0px;
    right: 0px;
}
.description {
    margin-top: 100px;
    margin-bottom: 100px;
    background-position: center;
    display: flex;
    justify-content:center;
}
.description__two-columns {
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.description__two-columns_brief {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    width: 175px;
    color: #2F80ED;
    margin-top: 0;
}
.description__two-columns_main-text {
    width: 80%;
    min-width: 784px;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.span-bold{
    font-weight: bold;
}
.description__two-columns_paragraph-two {
    width: 1024px;
    margin-top: 0;
    margin-bottom: 30px;
}
.description__two-columns_paragraph-one {
    margin-bottom: 30px;
    margin-top: 0;
    width: 1024px;
  }
.description__two-columns_paragraph-three {
    margin-top: 0;
    margin-bottom: 0;
    width: 1024px;
}
.digits {
    margin-top: 100px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.section-title {
    width: 60%;
    margin-bottom: 20px;
    line-height: 69px;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    margin-top: 0px;
}
.section-subtitle {
    width: 60%;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 0px;

}
.table {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 0;
}
.table_cell {
    width: 250px;
    margin-bottom: 60px;
}
.table_heading{
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.table_text {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 0px;
}
.table_text_reference {
    line-height: 1.2;
    font-size: 18px;
    padding-top: 20px;
    font-weight: normal;
    margin-bottom: 0px;
}
.feinman {
    min-height: 790px;
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #F2F2F2;
    background-image: url("../images/feinman.png");
    background-repeat: no-repeat;
    background-size: 867px 637px;
    background-position: bottom left;
}
.feinman__title {
    width: 648px;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    margin-top: 100px;
    left: auto;
    right: auto;
    align-self: center;
    text-align: center;
    z-index: 1;
    margin-bottom: 0;

}
.feinman__subtitle {
    justify-content: center;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    align-self: center;
    text-align: center;
    z-index: 1;
}
.feinman__link {
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    right: 48px;
    top: 50%;
    z-index: 1;
    position: absolute;
    color: #2F80ED;
    text-decoration: none;
}
.kaufman {
    padding-top: 90px;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: #1F1F1F;
    color: #ffffff;
}
.section-title_white {
    width: 60%;
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}
.section-subtitle_white {
    width: 60%;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    margin-top: 20px;
}
.table_cell_white {
    width: 200px;
    padding-top: 80px;
    z-index: 1;
}
.table_heading_white {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
}
.table_text_white {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    align-items: baseline;
}
.triangle {
    background-image: url("../images/triangle.svg");
    height: 877px;
    width: 877px;
    position: absolute;
    right: -210px;
    top: 0px;
    background-size: contain;
    animation: rotation 20s infinite;
}
.footer {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #1F1F1F;

    color: #ffffff;
    justify-content: center;
    display: flex;
    position: relative;
}
.footer__columns {
    width: 90%;
    display: flex;
    height: 350px;

}
.logo_footer {
    background-image: url("../images/logo_white.svg");   
}
.footer__author {
    margin-bottom: 0px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
}
.footer__column_copyright {
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 0px;
    padding-top: 0px;
}
.footer__column_info_and_social {
    flex-basis: 711px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0px;
    padding-top: 0px;
}
.footer__column_info {
    flex-direction: column;
    padding-top: 0px;
    padding-bottom: 0px;
}
.footer__column-heading {
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 0px;
    margin-top: 0;
    margin-bottom: 0;
}
.footer__column-links {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
}
.footer__column-icons_all {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
}
.footer__column-links_all{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.footer__column-icons {
    
    line-height: 16px;
    background-repeat: no-repeat;  
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color: #ffffff;
    text-decoration: none;
}
.footer__column_social {
    flex-direction: column;
    padding-top: 0px;
    padding-bottom: 0px;
}
.footer__column-icons_heading {
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 0px;
    margin-top: 0;
    margin-bottom: 0;
}
.technics{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards{
    width: 80%;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}
.cards__item{
    flex-direction: column;
    text-align: center;
    width: 250px;
    margin-right: 100px;
}
.cards__item_image{
    padding-bottom: 43px;
}
.cards__item_image-radius{
    border-radius: 50%;
    height: 160px;
    width: 160px;
    margin-left: 40px;
    margin-right: 40px;

}
.cards__item_title{
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 16px;
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
}
.cards__item_description{
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 60px;
    line-height: 23px;
    font-size: 18px;
    font-weight: normal;
}
.video{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}
.video__iframes{
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    margin-bottom: -50px;
}
iframe{
    margin-right: 20px;
}
.oakley{
    display: flex;
    justify-content: center;
    background-color: #F2F2F2;
    padding-top: 160px;
    padding-bottom: 80px;
    width: 100%;
    text-align: start;
}
.khan{
    background-color: #F2F2F2;
    padding-top: 105px;
}
.khan__container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.khan__container_quote{
    width: 790px;
    margin-top: 50px;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin-left: 0;
    margin-bottom: 0;
}
.khan__container_quote-author{
    margin-top: 36px;
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin-left: 0;
    margin-bottom: 0;
}
.khan__container_quote-author-subline{
    margin-top: 10px;
    line-height: 1.15;
    font-size: 24px;
    font-weight: normal;
    margin-left: 0;
    margin-bottom: 0;
}
.khan__book-container{
    display: flex;
    margin-top: 68px;
}
.khan__book-container_book-pic{
    margin-right: 20px;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    height: 608px;
    overflow: hidden;
}
.khan__book-container_book-pic img{
    width: 620px;
    height: 976px;
}
.khan__book-container_buy-link{
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
    color: #2F80ED;
    margin-top: 0;
}
.khan__container_author{
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.khan__container_title{
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.resources{
    margin-top: 100px;
    margin-bottom: 217px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resources__logo-zone{
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}
.resources__logo-zone_logo{
    width: 270px;
    height: 38px;
}